@media screen and (max-width:480px){
   .dancer {
    display: none;
   }

   .blanco-div{
   display: flex;
   flex-direction: column;
   }
}

.article-premium{
   display: flex;
   flex-direction: row;
}

.footer a{
   display: flex;
   flex-direction: row;
}

