<section class="blanco">
  <h2 class="blanco__titulo">¿Por qué pasarte a Premiun?</h2>
  <include src="./articuloblanco.html" img="./assets/images/benefit-1.png" title="Descarga música"></include>
  


    <article class="blanco__div">
      <img class="blanco__div--img" src="./assets/images/benefit-2.png" alt="" />
      <div class="blanco__div--caja">
        <p class="bold">Sin anuncios.</p>
        <p>Disfruta de música sin interrupciones.</p>
      </div>
    </article>

    <article class="blanco__div">
      <img class="blanco__div--img" src="./assets/images/benefit-3.png" alt="" />
      <div class="blanco__div--caja">
        <p class="bold">Escucha lo que quieras.</p>
        <p>Incluso en el móvil</p>
      </div>
    </article>

    <article class="blanco__div">
      <img class="blanco__div--img" src="./assets/images/benefit-4.png" alt="" />
      <div class="blanco__div--caja">
        <p class="bold">Salta todas las canciones que quieras.</p>
        <p>Simplemente dale a siguiente.</p>
      </div>
    </article>
  </div>
</section>
