<section class="blanco">
  <h2 class="h2">¿Por qué pasarte a Premiun?</h2>

  <div class="blanco-div">
    <article class="article-premium">
      <img class="img-blanco" src="../images/benefit-1.png" alt="" />
      <div class="texto-blanco">
        <p class="bold">Descarga música.</p>
        <p>Llévala siempre contigo.</p>
      </div>
    </article>

    <article class="article-premium">
      <img class="img-blanco" src="../images/benefit-2.png" alt="" />
      <div class="texto-blanco">
        <p class="bold">Sin anuncios.</p>
        <p>Disfruta de música sin interrupciones.</p>
      </div>
    </article>

    <article class="article-premium">
      <img class="img-blanco" src="../images/benefit-3.png" alt="" />
      <div class="texto-blanco">
        <p class="bold">Escucha lo que quieras.</p>
        <p>Incluso en el móvil</p>
      </div>
    </article>

    <article class="article-premium">
      <img class="img-blanco" src="../images/benefit-4.png" alt="" />
      <div class="texto-blanco">
        <p class="bold">Salta todas las canciones que quieras.</p>
        <p>Simplemente dale a siguiente.</p>
      </div>
    </article>
  </div>
</section>
