
.blanco {
    background-color: white;
    width: 100%;
    flex:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    &__titulo {
        text-align: center;
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 30px;
        padding-top: 20px;
        }
    &__div {
        padding-top: 3vh;
        width: 70px;
        

        &--img {
            width: 70px;
            
        }
        &--caja {
            font-size: 0.8rem;
            line-height: 20px;
            }

        }
    }


/*.texto-blanco {

    font-size: 0.8rem;
    line-height: 20px;
}

.article-premium {
    padding-top: 3vh;
}

.bold {
    font-weight: 800;
    padding-bottom: 10px;
}
.article-premium {
    display: flex;
    flex-direction: row;
}


.blanco-div {
    @media screen and (max-width:480px) {
    display: flex;
    flex-direction: column
   }
}*/